@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap');
*{
    margin:0;
    padding:0;
    border:0;
}
body{
    background:#282a36;
    font-family: 'Roboto', sans-serif;
}
header{
    padding:32px;
    border-bottom:1px solid #333;
    background: rgba(18, 19, 24, 0.1);
}
header div{
    text-align:center;
}
header div a{
    color: white;
    text-decoration: none;
    font-size:18px;
    line-height: 28px;
    margin:0 10px;
    font-family:monospace, sans-serif;
    font-weight: 300;
    padding:5px 10px;
    display:inline-block;
    transition:step-end(cubic-bezier(0.175, 0.885, 0.32, 1.275));

}
header div a:hover{
    border:1px solid rgba(140, 48, 226, 0.9);
    transition: .3s ease;
    padding:5px 10px;
    display:inline-block;
    
}
#wrapper{
    text-align: center;
    padding:30px;
}
#wrapper img{
    border-radius:50%;
    border:5px solid #50fa7b;
    margin-bottom:32px;
}
#wrapper h1{
    font-size:36px;
    line-height: 42px;
    font-weight: bold;
    color:white;
}
#wrapper p{
    font-size:18px;
    line-height: 42px;
    font-weight: bold;
    color:white
}

/* header{
    background:#6c28b1;
} */